In [5]:
import pandas as pd
import numpy as np

In [18]:
df = pd.read_csv("https://github.com/anvarnarz/praktikum_datasets/raw/main/merc.csv")

In [19]:
df.head()

,model,year,price,transmission,mileage,fuelType,tax,mpg,engineSize
0,SLK,2005,5200,Automatic,63000,Petrol,325,32.1,1.8
1,S Class,2017,34948,Automatic,27000,Hybrid,20,61.4,2.1
2,SL CLASS,2016,49948,Automatic,6200,Petrol,555,28.0,5.5
3,G Class,2016,61948,Automatic,16000,Petrol,325,30.4,4.0
4,G Class,2016,73948,Automatic,4000,Petrol,325,30.1,4.0

In [11]:
df2 = pd.read_csv("https://raw.githubusercontent.com/anvarnarz/praktikum_datasets/main/automobile_data.csv", index_col=0) # 
df2

,company,body-style,wheel-base,length,engine-type,num-of-cylinders,horsepower,average-mileage,price
index,,,,,,,,,
0,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,13495.0
1,alfa-romero,convertible,88.6,168.8,dohc,four,111,21,16500.0
2,alfa-romero,hatchback,94.5,171.2,ohcv,six,154,19,16500.0
3,audi,sedan,99.8,176.6,ohc,four,102,24,13950.0
4,audi,sedan,99.4,176.6,ohc,five,115,18,17450.0
...,...,...,...,...,...,...,...,...,...
81,volkswagen,sedan,97.3,171.7,ohc,four,85,27,7975.0
82,volkswagen,sedan,97.3,171.7,ohc,four,52,37,7995.0
86,volkswagen,sedan,97.3,171.7,ohc,four,100,26,9995.0
87,volvo,sedan,104.3,188.8,ohc,four,114,23,12940.0
88,volvo,wagon,104.3,188.8,ohc,four,114,23,13415.0

In [ ]:
#df = pd.read_excel("")

In [29]:
tashkent = pd.read_html("https://en.wikipedia.org/wiki/Tashkent")

In [30]:
len(tashkent)

17

In [31]:
tashkent[0]

,Tashkent Uzbek: Toshkent,Tashkent Uzbek: Toshkent.1
0,Capital,Capital
1,Toshkent,Toshkent
2,.mw-parser-output .tmulti .thumbinner{display:...,.mw-parser-output .tmulti .thumbinner{display:...
3,.mw-parser-output .ib-settlement-cols{text-ali...,.mw-parser-output .ib-settlement-cols{text-ali...
4,Nickname(s):Â Tash (A rock),Nickname(s):Â Tash (A rock)
5,"Motto(s):Â Kuch Adolatdadir!(""Strength is in Ju...","Motto(s):Â Kuch Adolatdadir!(""Strength is in Ju..."
6,.mw-parser-output .locmap .od{position:absolut...,.mw-parser-output .locmap .od{position:absolut...
7,"Coordinates: .mw-parser-output .geo-default,.m...","Coordinates: .mw-parser-output .geo-default,.m..."
8,Country,Uzbekistan
9,Settled,5th to 3rd centuries BC
10,Government,Government
11,â€¢Â Type,City Administration
12,â€¢Â Hakim (Mayor),Jahongir Ortiqxo'jaev
13,Area,Area
14,â€¢Â Total,334.8Â km2 (129.3Â sqÂ mi)
15,Elevation,"455Â m (1,493Â ft)"
16,PopulationÂ (15 April 2022)[1],PopulationÂ (15 April 2022)[1]
17,â€¢Â Total,2750000
18,â€¢Â Density,"8,200/km2 (21,000/sqÂ mi)"
19,Time zone,UTC+5 (Â )
20,Area code(s),71
21,HDI (2019),0.809[2]very high
22,Website,tashkent.uz

In [34]:
tashkent[6]

,0,1,2
0,"YearPop.Â±% p.a.1897 155,673â€” 1959 911,930+2.89...","YearPop.Â±% p.a.2007 2,157,100+0.77%2008 2,180,...",NaN
1,Year,Pop.,Â±% p.a.
2,1897,155673,â€”
3,1959,911930,+2.89%
4,1970,1384509,+3.87%
5,1979,1780002,+2.83%
6,1983,1902000,+1.67%
7,1989,2072459,+1.44%
8,1991,2130200,+1.38%
9,1995,2097400,âˆ’0.39%
10,2000,2142300,+0.42%
11,2001,2137900,âˆ’0.21%
12,2002,2136600,âˆ’0.06%
13,2003,2139200,+0.12%
14,2004,2135400,âˆ’0.18%
15,2005,2135700,+0.01%
16,2006,2140600,+0.23%
17,Year,Pop.,Â±% p.a.
18,2007,2157100,+0.77%
19,2008,2180000,+1.06%
20,2009,2206300,+1.21%
21,2010,2234300,+1.27%
22,2011,2296500,+2.78%
23,2012,2309300,+0.56%
24,2013,2340900,+1.37%
25,2014,2352900,+0.51%
26,2015,2371300,+0.78%
27,2016,2393200,+0.92%
28,2017,2424100,+1.29%
29,2018,2464900,+1.68%
30,2019,2509900,+1.83%
31,2020,2571700,+2.46%
32,2021,2694400,+4.77%
33,@media all and (max-width:720px){body.skin-min...,@media all and (max-width:720px){body.skin-min...,NaN
34,Source: Uzbekistan State Statistics Committee[...,Source: Uzbekistan State Statistics Committee[...,NaN

In [33]:
tashkent[5]

   Climate data for Tashkent (1981â€“2010, extremes 1881â€“present)  \
                                                          Month
0                                 Record high Â°C (Â°F)
1                                Average high Â°C (Â°F)
2                                  Daily mean Â°C (Â°F)
3                                 Average low Â°C (Â°F)
4                                  Record low Â°C (Â°F)
5                   Average precipitation mm (inches)
6                          Average precipitation days
7                                  Average snowy days
8                       Average relative humidity (%)
9                         Mean monthly sunshine hours
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Jan
0                                          22.6(72.7)
1                                           6.9(44.4)
2                                           1.9(35.4)
3                                          âˆ’1.5(29.3)
4                                            âˆ’28(âˆ’18)
5                                          53.3(2.10)
6                                                  14
7                                                   9
8                                                  73
9                                               117.3
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Feb
0                                          27.0(80.6)
1                                           9.4(48.9)
2                                           3.9(39.0)
3                                           0.0(32.0)
4                                        âˆ’25.6(âˆ’14.1)
5                                          63.8(2.51)
6                                                  13
7                                                   7
8                                                  68
9                                               125.3
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Mar
0                                          32.5(90.5)
1                                          15.2(59.4)
2                                           9.3(48.7)
3                                           4.8(40.6)
4                                          âˆ’16.9(1.6)
5                                          70.2(2.76)
6                                                  14
7                                                   2
8                                                  61
9                                               165.1
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Apr
0                                          36.4(97.5)
1                                          22.0(71.6)
2                                          15.5(59.9)
3                                           9.8(49.6)
4                                          âˆ’6.3(20.7)
5                                          62.3(2.45)
6                                                  12
7                                                   0
8                                                  60
9                                               216.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  May
0                                         39.9(103.8)
1                                          27.5(81.5)
2                                          20.5(68.9)
3                                          13.7(56.7)
4                                          âˆ’1.7(28.9)
5                                          41.2(1.62)
6                                                  11
7                                                   0
8                                                  53
9                                               303.4
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Jun
0                                         43.0(109.4)
1                                          33.4(92.1)
2                                          25.8(78.4)
3                                          18.1(64.6)
4                                           3.8(38.8)
5                                          14.3(0.56)
6                                                   7
7                                                   0
8                                                  40
9                                               361.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Jul
0                                         44.6(112.3)
1                                          35.6(96.1)
2                                          27.8(82.0)
3                                          19.7(67.5)
4                                           8.2(46.8)
5                                           4.5(0.18)
6                                                   4
7                                                   0
8                                                  39
9                                               383.7
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Aug
0                                         43.1(109.6)
1                                          34.7(94.5)
2                                          26.2(79.2)
3                                          18.1(64.6)
4                                           5.7(42.3)
5                                           1.3(0.05)
6                                                   3
7                                                   0
8                                                  42
9                                               365.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Sep
0                                         40.0(104.0)
1                                          29.3(84.7)
2                                          20.6(69.1)
3                                          13.0(55.4)
4                                           0.1(32.2)
5                                           6.0(0.24)
6                                                   3
7                                                   0
8                                                  45
9                                               300.9
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Oct
0                                          37.5(99.5)
1                                          21.8(71.2)
2                                          13.9(57.0)
3                                           7.8(46.0)
4                                         âˆ’11.2(11.8)
5                                          24.7(0.97)
6                                                   7
7                                                   1
8                                                  57
9                                               224.8
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Nov
0                                          31.6(88.9)
1                                          14.9(58.8)
2                                           8.5(47.3)
3                                           4.1(39.4)
4                                         âˆ’22.1(âˆ’7.8)
5                                          43.9(1.73)
6                                                  10
7                                                   2
8                                                  66
9                                               149.5
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

                                                       \
                                                  Dec
0                                          27.3(81.1)
1                                           8.8(47.8)
2                                           3.5(38.3)
3                                           0.0(32.0)
4                                        âˆ’29.5(âˆ’21.1)
5                                          58.9(2.32)
6                                                  12
7                                                   6
8                                                  73
9                                               105.9
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...


                                                 Year
0                                         44.6(112.3)
1                                          21.6(70.9)
2                                          14.8(58.6)
3                                           9.0(48.2)
4                                        âˆ’29.5(âˆ’21.1)
5                                        444.4(17.50)
6                                                 110
7                                                  27
8                                                  56
9                                              2820.3
10  Source 1: Centre of Hydrometeorological Servic...
11  Source 2: Pogoda.ru.net (mean temperatures/hum...

In [ ]:
import requests
r = requests.get() #

In [35]:
r.status_code # qilsak 200nbolsa togri boladi code

NameError: name 'r' is not defined