### import numpy as np
import pandas as pd

In [4]:
#multi indexkash = HIERARCHICAL index shajaraham deyiladi

In [7]:
data = pd.Series(np.random.randn(9),index=['a','a','a','b','b','c','c','d','d']) # odatiy indexli series
data.index

Index(['a', 'a', 'a', 'b', 'b', 'c', 'c', 'd', 'd'], dtype='object')

In [9]:
data1 = pd.Series(np.random.randn(9),
  index=[['a','a','a','b','b','c','c','d','d'],[1,2,3,1,3,1,2,2,3]]) # HIERARCHICAL index indexkli series
data1

a  1   -0.440516
   2    0.464118
   3    1.361081
b  1   -0.412269
   3    1.078040
c  1   -0.301764
   2   -0.204495
d  2    1.108194
   3   -0.452046
dtype: float64

In [11]:
data1.index # mana multik indeksga aylandi

MultiIndex([('a', 1),
            ('a', 2),
            ('a', 3),
            ('b', 1),
            ('b', 3),
            ('c', 1),
            ('c', 2),
            ('d', 2),
            ('d', 3)],
           )

In [12]:
# malumotlarni ajratib olish

In [13]:
data1

a  1   -0.440516
   2    0.464118
   3    1.361081
b  1   -0.412269
   3    1.078040
c  1   -0.301764
   2   -0.204495
d  2    1.108194
   3   -0.452046
dtype: float64

In [15]:
data1['a'] # subsetlarni ajratib beradi

1   -0.440516
2    0.464118
3    1.361081
dtype: float64

In [17]:
data.loc['a':'b']

a  1   -0.312248
   2   -0.246758
   3   -0.189063
b  1   -0.063681
   3    0.228888
dtype: float64

In [18]:
#  unstack

In [19]:
data1

a  1   -0.440516
   2    0.464118
   3    1.361081
b  1   -0.412269
   3    1.078040
c  1   -0.301764
   2   -0.204495
d  2    1.108194
   3   -0.452046
dtype: float64

In [20]:
data1.unstack() # sochilgan serieslar df korinishida qaytardi

          1         2         3
a -0.440516  0.464118  1.361081
b -0.412269       NaN  1.078040
c -0.301764 -0.204495       NaN
d       NaN  1.108194 -0.452046

In [21]:
# stack

In [22]:
data1.unstack().stack() # unstackni teskari vazifasini bajaradi

a  1   -0.440516
   2    0.464118
   3    1.361081
b  1   -0.412269
   3    1.078040
c  1   -0.301764
   2   -0.204495
d  2    1.108194
   3   -0.452046
dtype: float64